nav {
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

nav .container-fluid .nav-profiles .iconn {
  color: #00b4d8;
}

nav .container-fluid .nav-profiles .iconn:hover {
  color: #90e0ef;
  transform: scale(1.05);
}

nav .container-fluid .nav-item:hover {
  color: #00b4d8;
  opacity: 1;

  border-bottom: 0.05rem solid #00b4d8;
}

nav .navbar-toggler:hover {
  color: black;
  opacity: 0.7;

  border: 1px solid #00b4d8;
}

@media (max-width: 993px) {
  nav .container-fluid .nav-item:hover {
    color: #00b4d8;

    opacity: 1;
    width: 4rem;
    border-bottom: 0.05rem solid #00b4d8;
  }

  nav .container-fluid .links-size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
