html {
  background-color: #343a40;
}

body {
  margin: 0;
  padding: 0;
  /* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
  font-family: sans-serif;
}

/* width */
body::-webkit-scrollbar {
  width: 2px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #343a40;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #00b4d8;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #90e0ef;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}
