.welcome_page {
  height: 100vh;
  background-color: #343a40;
}
.jumbotron {
  border-radius: 0;
  margin: 0;
}
.welcome_page > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bbbb {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
  transition: all 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
button {
  border: 1px solid #90e0ef;
  background-color: #343a40;

  border-radius: 5px;
  color: #90e0ef;
  padding: 10px;
  outline: none;
  z-index: 5;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
button:hover {
  transform: scale(1.05);
}
