.about-container {
  padding: 7rem 0;
  /* overflow: scroll; */
}
.aaaaa {
  display: flex;
  justify-content: space-evenly;
}
.image-box {
  width: 600px;
  /* height: 600px; */
  box-shadow: 10px 10px 5px #5d6369;
}

@media (max-width: 765px) {
  .image-box {
    width: 500px;
    /* height: 400px; */
  }
}
.text-box {
  text-shadow: 5px 5px 10px #c5e4cd;
}
@media (max-width: 768px) {
  .about-container {
    padding: 4rem 0;
    overflow: scroll;
  }
  .image-div {
    padding-bottom: 1.8rem;
  }
}
